
//    Font Family

$primary-font	: 'Eurostile LT Std', sans-serif;

// --------------------------- Color variations ----------------------

$primary-color	: #7b10ff;
$primary-color2	: #974fff;
$title-color	: #1e283c;
$text-color		: #414141;
$aquablue-color : #FFFFFF;

$white			: #fff;
$offwhite		: #FFFFFF;
$black			: #222;