
    <!-- Start hero-section -->
    <section class="hero-section-bg relative">
        <div id="app-owl" class="owl-carousel owl-theme">
            {% for item in site.hero_sass_slider %}
            <div class="items">
                <img class="owl-img" src="{{ item.image }}" alt="">
            </div>
            {% endfor %}
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-between">
                    <div class="offset-lg-1 col-lg-5 offset-md-0 col-md-10">
                        <h1 class="text-white">
                            {{ site.hero_sass_slider_name }}
                        </h1>
                        <p class="pt-20 pb-20 mw-510 text-white">
                            
                        </p>
                        <a href="{{ site.hero_sass_slider_btn_one_link }}" class="genric-btn">
                            {{ site.hero_sass_slider_btn_one_text }}
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-img8">
                            <img class="" src="{{ site.hero_sass_slider_image }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End hero-section -->