
    <!-- Start about section -->
    <section class="about-section">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 about-left">

                    <p class="pt-20 pb-20">
                      XELI is an independent non-profit making organisation that is based in Tbilisi, Georgia. XELI consists of human rights activists, youth workers, educators and professionals working in the field of digital security, privacy, internet freedom. XELI was established with the aim to support research, development, and implementation of projects focused on:

    Access to the internet;
    Privacy;
    Digital Rights;
    Diversity and inclusivity of voice;
    Transparency and Accountability
    Advocate Internet Freedom.

The main target group of the organization are youth leaders, human rights defenders and activists.

XELI focuses on addressing how data and digital technologies impact human rights, social justice, power structures and accountability.

XELI enhances digital resources including online social communities, educational resources, supportive advocacy content, news and current events.

XELI team members work in various digital safety related projects as security consultants and experts.
                    </p>
                </div>
                <div class="col-lg-6 text-center">
                    <img class="img-fluid" src="{{ 'img/about-img.png' | relative_url }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End about section -->
