    <!-- Start feature section -->
    <section id="features" class="feature-section pb-120 pt-90">
        <div class="container">
            <div class="row feature-left-wrapr">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature aquablue-bg">
                        <div class="icon">
                            <span>
                                <img width="39" height="40" src="{{ site.feature_image_one | relative_url }}"
                                    class="attachment-image_icon_40x40 size-image_icon_40x40" alt=""> 
                            </span>
                        </div>
                        <div class="desc">
                            <h4>{{ site.feature_title_one }}</h4>
                            <p class="mb-0">
                                Some days a motivational quote can provide a quick pick-me-up for employees and even
                                management.

                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6">
                    <div class="single-feature aquablue-bg">
                        <div class="icon">
                            <span>
                                <img width="40" height="40" src="{{ site.feature_image_two | relative_url }}"
                                    class="attachment-image_icon_40x40 size-image_icon_40x40" alt=""> </span>
                        </div>
                        <div class="desc">
                            <h4>{{ site.feature_title_two }}</h4>
                            <p class="mb-0">
                                {{ site.feature_description_two }}
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6">
                    <div class="single-feature aquablue-bg">
                        <div class="icon">
                            <span>
                                <img width="40" height="36" src="{{ site.feature_image_three | relative_url }}"
                                    class="attachment-image_icon_40x40 size-image_icon_40x40" alt=""> </span>
                        </div>
                        <div class="desc">
                            <h4>{{ site.feature_title_three }}</h4>
                            <p class="mb-0">
                                {{ site.feature_description_three }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature Area -->