
    <!-- Start price section -->
    <section id="pricing" class="price-section section-gap">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <div class="title-img">
                        <img src="{{ site.img/title-icon.png }}" alt="">
                    </div>
                    <h1>{{ site.pricing-table-title }}</h1>
                    <p>
                        {{ site.pricing-table-description }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-price">
                        <div class="price-top text-center relative">
                            <div class="pack-desc relative">
                                <h4>{{ site.plan-starter-name }}</h4>
                                <p>
                                    {{ site.plan-starter-tagline }}
                                </p>
                            </div>
                            <div class="price relative">
                                <p>
                                    {{ site.plan-starter-price }}
                                </p>
                            </div>
                        </div>
                        <div class="price-bottom">
                            <ul class="packlist">
                                <li>
                                    {{ site.plan-starter-offer-line-1-info }}
                                </li>
                                <li>
                                    {{ site.plan-starter-offer-line-2-info }}
                                </li>
                                <li>
                                    {{ site.plan-starter-offer-line-3-info }}
                                </li>
                                <li>
                                    {{ site.plan-starter-offer-line-4-info }}
                                </li>
                                <li>
                                    {{ site.plan-starter-offer-line-5-info }}
                                </li>
                            </ul>
                            <a href="{{ site.plan-starter-url }}" class="genric-btn2">{{ site.plan-starter-btn_text }}</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="single-price">
                        <div class="price-top text-center relative">
                            <div class="pack-desc relative">
                                <h4>{{ site.plan-standard-name }}</h4>
                                <p>
                                    {{ site.plan-standard-tagline }}
                                </p>
                            </div>
                            <div class="price relative">
                                <p>
                                    {{ site.plan-standard-price }}
                                </p>
                            </div>
                        </div>
                        <div class="price-bottom">
                             <ul class="packlist">
                                <li>
                                    {{ site.plan-standard-offer-line-1-info }}
                                </li>
                                <li>
                                    {{ site.plan-standard-offer-line-2-info }}
                                </li>
                                <li>
                                    {{ site.plan-standard-offer-line-3-info }}
                                </li>
                                <li>
                                    {{ site.plan-standard-offer-line-4-info }}
                                </li>
                                <li>
                                    {{ site.plan-standard-offer-line-5-info }}
                                </li>
                            </ul>
                            <a href="{{ site.plan-standard-url }}" class="genric-btn2">{{ site.plan-standard-btn_text }}</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="single-price">
                        <div class="price-top text-center relative">
                            <div class="pack-desc relative">
                                <h4>{{ site.plan-business-name }}</h4>
                                <p>
                                    {{ site.plan-business-tagline }}
                                </p>
                            </div>
                            <div class="price relative">
                                <p>
                                    {{ site.plan-business-price }}
                                </p>
                            </div>
                        </div>
                        <div class="price-bottom">
                            <ul class="packlist">
                                <li>
                                    <span>{{ site.plan-business-offer-line-1-info }}</span>
                                </li>
                                <li>
                                    <span>{{ site.plan-business-offer-line-2-info }}</span>
                                </li>
                                <li>
                                    <span>{{ site.plan-business-offer-line-3-info }}</span>
                                </li>
                                <li>
                                    <span>{{ site.plan-business-offer-line-4-info }}</span>
                                </li>
                                <li>
                                    <span>{{ site.plan-business-offer-line-5-info }}</span>
                                </li>
                            </ul>
                            <a href="{{ site.plan-business-url }}" class="genric-btn2">
                                {{ site.plan-business-btn_text }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End price section -->