
    <!-- Start social section -->
    <section class="social-section section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 social-left">
                    <h1>
                        Manage Social Network with Our Managing Toolkit
                    </h1>
                    <p>
                        The first is a non technical method which requires the use of adware removal software. Download
                        free adware and spyware removal
                        software and use advanced tools to help prevent getting infected. Spyware scan review is a free
                        service
                        for anyone interested in downloading spyware/adware removal software. Our adware remover is the
                        most
                        trusted.
                    </p>
                    <a href="#" class="genric-btn2">Browse free demo</a>
                </div>
                <div class="col-lg-6 text-center social-right">
                    <img class="img-fluid" src="{{ 'img/social-img.png' | relative_url }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End social section -->